on: [push, pull_request]

name: CI
permissions:
  contents: read
  
jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 24
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: npm run lint
